<%= render 'partials/static_header' %>

  <%= render 'partials/nav' %>

  <div class="aboutImage">
    <div class="aboutBoxContent">
      <%= render 'about_blurb' %>
    </div>
    <div class="aboutBox">
      <span class="transparent">
        <%= render 'about_blurb' %>
      </span>
    </div>
  </div>

  <div class="splashContainer">
    <h2>The Time Auction Developers</h2>
    <div class="row">

      <div class="span3">
        <div class="teamCell">
          <div class="teamImage">
            <%= cl_image_tag('v1365986316/d_kndyme.jpg', :width => 250, :height => 250) %>
          </div>
          <h4>David Wen</h4>
          <div id="location">Vancouver <%= image_tag '/assets/CA.png' %></div>
          <p>David is the Founder of the original Time Auction.  He has volunteered abroad from Nicaragua to Taiwan and enjoys teaching Math and English to marginalized youth.  He also founded FlyShortcut.com and enjoys working on innovative social enterprises.</p>
        </div>
      </div>
      
      <div class="span3">
        <div class="teamCell">
          <div class="teamImage">
            <%= cl_image_tag('v1365986316/k_z3rxfw.jpg', :width => 250, :height => 250) %>
          </div>
          <h4>Kevin Ko</h4>
          <div id="location">Los Angeles <%= image_tag '/assets/us.png' %></div>
          <p>Kevin is a full-stack engineer with a passion for visual design. He built the front-end design, including CSS, HTML, and AJAX comment submission.  He has volunteered regularly through his local Tzu Chi chapter and has a passion for helping less fortunate children in general.</p>
        </div>
      </div>

      <div class="span3">
        <div class="teamCell">
          <div class="teamImage">
            <%= cl_image_tag('v1365986316/p_hlfngk.jpg', :width => 250, :height => 250) %>
            </div>
          <h4>Philip Woo</h4>
          <div id="location">Seoul <%= image_tag '/assets/KR.png' %></div>
          <p>Philip has travelled the world, having lived in Korea, Germany, and the USA for extensive periods of time.  He enjoys volunteering at local schools as an assistant, teaching primary kids about reading, writing, and life in general.</p>
        </div>
      </div>

      <div class="span3">
        <div class="teamCell">
          <div class="teamImage">
            <%= cl_image_tag('v1365986316/j_v3ndox.jpg', :width => 250, :height => 250) %>
          </div>
          <h4>J Connolly</h4>
          <div id="location">Los Angeles <%= image_tag '/assets/us.png' %></div>
          <p>J is a rails developer and founder of LiftHero.com, which makes arranging rides for seniors seamless and affordable. He delivers groceries as a volunteer for Meals on Wheels San Francisco.</p>
        </div>
      </div>
    </div>
    
    <div class="aboutGithub">
      <%= link_to image_tag('/assets/github-icon.png'), 'https://www.github.com/Dawenster/time_auction' %>
    </div>
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
