<%= render 'partials/static_header' %>

  <div class="splashImage">
    <div class="splashBoxContent">
      <h1>Time is Money.</h1>
      <p>Bid on prizes with volunteer hours, not money</p>
      <%= link_to "Start Browsing", categories_path, :class => "btn btn-primary btn-large btn-danger main-splash" %><BR><BR>
    
      <%= link_to "Learn more >>", '#', :id => 'learn-more' %>
    </div>
    <div class="splashBox">
    </div>
  </div>

  <div class="splashContainer" id="intro">
    <h2>Here's how it works</h2>

    <hr/>
      
    <div class="wrapper">
      <h3><span id="count">1.</span> Bid on Auctions</h3>
      <%= image_tag '/assets/step1.png' %>
    </div>
    <div class="wrapper">
      <h3><span id="count">2.</span> Perform Charity Work</h3>
      <%= image_tag '/assets/step2.png' %>
    </div>
    <div class="wrapper">
      <h3><span id="count">3.</span> Earn Your Reward</h3>
      <%= image_tag '/assets/step3.png' %>
    </div>
    <div id="vp">
      <h2>A $50 product generates about <strong>35</strong> volunteer hours.</h2>
    </div>
    <hr>
    <div class="statisticsBox">
      <div id="hoursCount">
        <%= number_with_delimiter(@users.inject(7000) {|sum, user| sum + user.time_donated }) %>
        <div id="hours">HOURS</div>
        <div id="hours">RAISED</div>
      </div>
    </div>
      
    

    <div class="credentials">
      <h3>Benefiting over <strong>50</strong> charities and counting</h3>
      <%= image_tag 'cred-dbc.png' %>
      <%= image_tag 'cred-heroku.png' %>
      <%= image_tag 'cred-rails.png' %>
    </div>

    <!-- <h3><%#= link_to "Start Bidding on a TimeAuction Today", new_user_path, :class => "lpcenter btn btn-primary btn-large" %></h3> -->
  </div>

  <%= render 'partials/footer' %>
</body>
</html>
