<div class="splashContainer">
    <h2>Official Time Auction Rules</h2>

    <hr/>
      
    <div class="wrapper">
      <div class="rules-box">
        <h3><%= image_tag '/assets/handshake.png', :width => 100, :height => 100 %><BR><span id="count">1.</span> Do as you promised</h3>
        <p>If you said you would do 20 hours, please do them.  The charities are counting on your commitment, not to mention you will only get your prize if you finish your hours!</p> 
      </div>
    </div>
    <div class="wrapper">
      <div class="rules-box">
        <h3><%= image_tag '/assets/approved.png', :width => 100, :height => 100 %><BR><span id="count">2.</span> Registered charities</h3>
        <p>We want to make sure your valuable time is spent for legitimate causes - not playing with your neighbour's cat!</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="rules-box">
        <h3><%= image_tag '/assets/teamwork.png', :width => 100, :height => 100 %><BR><span id="count">3.</span> Teaming up is ok</h3><p>Two people max though.  If you bid together, your hours need to add up to your bid.  Just remember to also share the prize with your friend!</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="rules-box">
        <h3><%= image_tag '/assets/plus-one.png', :width => 100, :height => 100 %><BR><span id="count">4.</span> New commitments</h3><p>This has to be a new volunteer gig.  That is, you cannot continue where you already volunteer and have your hours count towards an auction.</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="rules-box">
        <h3><%= image_tag '/assets/calendar.png', :width => 100, :height => 100 %><BR><span id="count">5.</span> One month limit</h3><p>You have one month from the end of the auction to complete your volunteer hours.  We have found that this time frame is optimal - too long and people procrastinate or bid way above their capabilities.</p>
      </div>
    </div>
    <div class="wrapper sixth-box">
      <div class="rules-box">
        <h3><%= image_tag '/assets/pickup.png', :width => 100, :height => 100 %><BR><span id="count">6.</span> Self pickup of prizes</h3><p>When you finish your hours, let us know and we will arrange for you to pickup your prize.  Unfortunately we don't have the funds to pay for shipping at the moment</p>
      </div>
    </div>
    <div class="final-word">
      <p>In general, if the Time Auction Team sees any sort of activity that we deem against the spirit of fair and honest bidding, we reserve the right to terminate any bids or user accounts.  This is to protect other bidders, our charities, and our generous donors.</p>
      <h3>Ok. Enough talk.</h3>
      <%= link_to "Show Me The Auctions", categories_path, :class => "btn btn-primary btn-large btn-danger" %>
    </div>
  </div>