<h1>Log in!</h1>
<%= @messages %>
<%= form_for :session, :url => sessions_path do |f| %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Log in" %>
<% end %>
Need an account? <%= link_to "Sign up here", new_user_path %>
