<div class="span8 offset1" id='reset_form'>
  <h1>Reset </h1>
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Update Password" %></div>
  <% end %>