<div class="commentBlock">
  <div class="commentAvatar">
    <%= avatar(comment.user) %>
  </div>

  <li class="comment">
    <div class="posted_by">
      <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago
        <% if comment.user == current_user %>
          <%= link_to '', auction_comment_path(comment.auction, comment), :class => 'icon-remove', :remote => true, :method => 'delete' %>
        <% end %>
    </div>
    <%= simple_format(comment.content) %>
  </li>
</div>
