<tr>
  <td><%= avatar(bid.user, options = {height: 32, width: 32}) %> <%= link_to bid.user.name, bid.user %></td> 
  <td><%= bid.time %></td>
  <td>
    <% if bid.charity %>
      <%= link_to bid.charity.name.truncate(28), bid.charity %>
    <% else %>
      None Specified
    <% end %>
  </td>
  <td><%= time_ago_in_words(bid.created_at) %> ago</td>
</tr>
