<%= form_for :bid, url: bids_path, remote: true, html: { id: "new_bid_form", class: "hide" } do |f| %>
  <div class="pop-up">
    <div class="pop-up-left">
      <h1>Making a bid</h1>
      <h4>Thank you for wanting to volunteer!</h4>
      <p>Here's what you need to know:</p>
      <ol>
        <li>You are awesome.</li>
        <li>You need to bid higher than <%= @auction.highest_bid.nil? ? 0 : @auction.highest_bid.time %> hours.</li>
        <li>If you win, you need to complete your hours by <%= @auction.deadline.strftime('%b %d, %Y') %>.</li>
        <li>This needs to be a new volunteering commitment.</li>
        <li>We will call your charity to validate your awesome work.</li>
        <li>Then you will get your prize :)</li>
      </ol>
    </div>
    <div class="pop-up-right">
      <%= cl_image_tag @auction.photos.first.url, :width => 200, :height => 150 unless @auction.photos == [] %>
      <h4><%= @auction.title %></h4>
    </div>
    <div class="pop-up-bottom">
      I, <%= current_user.name if current_user %>, will bid <span><%= f.text_field :time, placeholder: "Number", :class => "input-small" %> hours.</span>
      <span>Where will you volunteer?</span> <span><%= f.text_field :charity_id, :title => "Select a charity or enter a new one", :placeholder => "Charity name (optional)" %></span>
      <%= f.hidden_field :auction_id, value: @auction.id %>

      <div>By clicking below, you agree to the official <%= link_to "Time Auction rules", rules_path %>.</div><br>
      <div><%= f.submit "Submit Bid", :class => "btn btn-success btn-large commit-to-bid" %></div>
    </div>
  </div>
<% end %>
<!-- 
<script type="text/javascript">
  $("#bid_charity_id").autocomplete({
    source: <%= @all_charities.to_json.html_safe %>
  });
</script> -->
