<%= form_for @auction do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true, :autofocus => true %>
  <%= f.label :description %>
  <%= f.text_area :description, :required => true %>
  <%= f.label :category %>
  <%= collection_select(:auction, :category_id, Category.all, :id, :name ) %>
  <%= f.label :start_date, "Auction Start Date" %>
  <%= f.text_field :start_date, html: { id: 'datepicker' }, :required => true %>
  <%= f.label :end_date, "Auction End Date" %>
  <%= f.text_field :end_date, html: { id: 'datepicker' }, :required => true %>
  <span class="hide" id="verified_time">
    <%= f.label :verified_time %>
    <%= f.text_field :verified_time %>
  </span>
  <%= f.fields_for :photos, :html => { multipart: true } do |builder| %>
    <label for="file">Apply Photo</label>
    <%= builder.file_field :url, :required => true %>
  <% end %>
  <%= f.submit "Create Auction", :class => "btn btn-primary btn-large" %>
<% end %>



