<h1>Add an Auction</h1>
<%= form_for @auction do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :category %>
  <%= f.select :category_id, @categories.collect {|cat| [ cat.name, cat.id ] } %>
  <%= f.label :end_date, "Auction End Date" %>
  <%= f.datetime_select :end_date  %>
  <%= f.submit "Create Auction", :class => "btn btn-primary btn-large" %>
<% end %>
