<h1><%= @auction.title %></h1>

<%= @auction.description %></br>
<%= convert_date(@auction.end_date) %></br>
<%= convert_date(@auction.deadline) %>

<button class="btn btn-primary btn-large bid-button">Bid</button>

<%= render 'bids/form' %>
<table class="bids">
  <tr> <th>Name</th> <th>Hours Bid</th> <th>Posted</th> </tr>
  <% @auction.bids.reverse.each do |bid| %>
    <%= render 'bids/bid', :bid => bid %>  
  <% end %>
</table>
