<!-- LIGHTBOX -->

<div class="row">
  <div class="span10 offset1 hidden-bid-partial">
    <%= render 'bids/form' %>
  </div>
  <div class="span8 offset2">
    <%= render 'bids/success_popup' %>
  </div>
  <div class="span1 offset5 hide" id='spinner'>
    <%= image_tag 'ajax_loader_red_64.gif' %>
  </div>
</div>
<div class="row">
  

<!-- TITLE -->
  <div class="span12">
    <div class="auction-category">
      <%= link_to '> ' + @auction.category.name, "/categories?tab=#{@auction.category.name}" %>
    </div>
    <div class="auction-title">
      <h1><%= @auction.title %></h1>
    </div>
    <div class="edit-as-admin">
      <%= link_to "Edit as admin", edit_auction_path(@auction) if current_user && current_user.admin %>
    </div>
    <hr>
  </div>

<!-- LEFT SIDE CONTENT -->

  <div class="span8" id="auction">
    <div class="auction-photo shadow">
      <%= cl_image_tag @auction.photos.first.url, :width => 600, :height => 450 unless @auction.photos == [] %>
    </div>

<!-- TABS -->

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#auction-description" data-toggle="tab">Description</a></li>
      <li>
        <a href="#auction-bid-history" data-toggle="tab" id="bidsTab">Bid History</a>
      </li>
      <li>
        <a href="#auction-comments" data-toggle="tab" id="commentsTab">Comments (<span id="commentCount"><%= @comments.count %></span>)</a>
      </li>
    </ul>

<!-- DESCRIPTION -->

    <div class="tab-content">
      <div class="tab-pane active" id="auction-description"> 
        <h3>Auction Description</h3>
          <%= simple_format(@auction.description) %>
      </div>

<!-- BID HISTORY -->

      <div class="tab-pane" id="auction-bid-history">
        <h3>Bid History</h3>
        <table class="bids">
          <tr>
            <th>Name</th>
            <th>Hrs</th>
            <th>Charity</th>
            <th>Posted</th>
          </tr>
          <%= render @bids %>  
        </table>
      </div>

<!-- COMMENTS -->
      <div class="tab-pane" id="auction-comments">
        <h3>Auction Comments</h3>
        <ul class="comments" id="commentList">
          <%= render 'comments/paginated_comments' %>
        </ul>
          <% if current_user %>
          <li id='comment_errors'></li>
            <%= form_for [@auction, Comment.new], :remote => true do |f| %>
            <%= f.text_area :content, :rows => 5, :class => "desc_box", :placeholder => "Comment on this Auction" %>
            <%= f.submit "Add Comment", :class => "btn btn-large btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  
<!-- RIGHT SIDE CONTENT -->

  <div class="span4">
    <div class="highest-bid">
      <% if @auction.bids == [] %>
        <div class="highest-bid-title ribbon">
          <div class="ribbon-front">
            <div class='no-bids-yet'>No bids yet</div>
          </div>
          <%= render 'ribbon' %>
        </div>
        <div class="bid-time">
          <div id="hours">0</div>
          <div id="hours">Hours</div>
        </div>
        <div class="highest-bidder">
          Be the first to bid <%= "when it starts!" unless @auction.started? %>
        </div>
        
      <% else %>

        <% if @winner %>
          <div class="highest-bid-title ribbon">
            <div class="ribbon-front">
              Winning Bid
            </div>
            <%= render 'ribbon' %>
          </div>
            <%= render 'bids/highest_bid' %>
        <% else %>
          <div class="highest-bid-title ribbon">
            <div class="ribbon-front">
              Highest Bid
            </div>
            <%= render 'ribbon' %>
          </div>
            <%= render 'bids/highest_bid' %>
        <% end %>

      <% end %>
    </div>

    <div class='you-highest<%= ' hide' unless @auction.highest_bid && @auction.highest_bid.user == current_user && !@auction.winner_id %>'>
        <h3>You're Currently the Top Bidder!</h3>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://TimeAuction.org/<%= @auction.id %>" data-text="I'm winning for charity at Time Auction-- try to top me!" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

<!-- BID BUTTON -->

    <div class='main-bid-button'>
      <div id="overlay"></div>

      <% if current_user && (!@auction.started? && !@auction.complete?) || (@auction.started? && @auction.complete?) %>
      <% elsif !current_user %>
        <%= button_to 'Signin to Bid', new_user_path, method: :get %>
      <% else %>
        <div id="trigger"><button class="btn btn-danger btn-large bid-button">Bid Hours</button></div>
      <% end %>
    </div>

<!-- AUCTION DETAILS -->

    <div class='auction-details'>
      <div class="detail-box">
        <h3>Auction Start Date</h3>
        <p>
          <%= @auction.start_date.strftime('%b %d, %Y') %>
        </p>
      </div>
      <div class="detail-box">
        <% if Time.now < @auction.end_date %> <!-- Auction Hasn't Ended -->
          <h3>Auction End Date</h3>
          <p>
            <%= @auction.end_date.strftime('%b %d, %Y') %>
          </p>
        <% else %> <!-- Auction Ended  -->
          <h3>Auction Has Ended</h3>
          <p>
            <%= @auction.end_date.strftime('%b %d, %Y') %>
          </p>
          <p>
            <%= link_to "Check out other auctions", categories_path %>
          </p>
        <% end %>
      </div>
      <div class="detail-box">
        <% if Time.now < @auction.deadline %>  <!-- Auction Ended  -->
          <h3>Volunteer Deadline</h3>
          <p>
            <%= @auction.deadline.strftime('%b %d, %Y') %>
          </p>
        <% else %>  <!-- Auction Ultimate Complete  -->
          <h3>Volunteer Status</h3>
          <p>
            <%= "#{@auction.verified_time.to_s} of #{@winning_time} hours completed!" unless @auction.verified_time.nil? %> <%= "Thank you " if @winner %><%= link_to @winner.name,  user_path(@winner) if @winner %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="facebook_links">
      <fb:like send="true" width="296" show_faces="true"></fb:like>
    </div>
  </div>

</div>

<div class="hide all-charities"><%= @charities %></div>

<!-- 
winner user not_start => no case
winner no_user no_start => no case

winner user start => no button
no_winner user no_start => no button

winner no_user start => sign up button
no_winner no_user start => sign up button
no_winner no_user no_start => sign up button

no_winner user start => bid button
 -->
