<!-- LIGHTBOX -->

<div class="row">
  <div class="span10 offset1 hidden-bid-partial">
    <%= render 'bids/form' %>
  </div>
</div>
<div class="row">
  

<!-- TITLE -->
  <div class="span12">
    <div class="auction-category">
      <%= link_to '> ' + @auction.category.name, category_path(@auction.category) %>
    </div>
    <div class="auction-title">
      <h1><%= @auction.title %></h1>
    </div>
    <div class="edit-as-admin">
      <%= link_to "Edit as admin", edit_auction_path(@auction) if current_user.admin %>
    </div>
    <hr>
  </div>

<!-- LEFT SIDE CONTENT -->

  <div class="span8">
    <div class="auction-photo shadow">
        <%= cl_image_tag @auction.photos.first.url, :width => 600, :height => 450 unless @auction.photos == [] %>
      </div>

<!-- TABS -->

    <ul class="nav nav-tabs">
      <li class="active"><a href="#auction-description" data-toggle="tab">Description</a></li>
      <li><a href="#auction-bid-history" data-toggle="tab">Bid History</a></li>
      <li><a href="#auction-comments" data-toggle="tab">Comments (<span id="commentCount"><%= @comments.count %></span>)</a></li>
    </ul>

<!-- DESCRIPTION -->

    <div class="tab-content">
      <div class="tab-pane active" id="auction-description"> 
        <h3>Auction Description</h3>
          <%= simple_format(@auction.description) %>
      </div>

<!-- BID HISTORY -->

      <div class="tab-pane" id="auction-bid-history">
        <h3>Auction History</h3>
        <table class="bids">
          <tr>
            <th>Name</th>
            <th>Hours Bid</th>
            <th>Posted</th>
          </tr>
          <% @auction.bids.reverse.each do |bid| %>
            <%= render 'bids/bid', :bid => bid %>  
          <% end %>
        </table>
      </div>

<!-- COMMENTS -->
      <div class="tab-pane" id="auction-comments">
        <h3>Auction Comments</h3>
        <ul class="comments">
          <% @comments.reverse.each do |comment| %>
          <div class="commentBlock">
            <div class="commentAvatar">
              <% if comment.user.photo %>
                <%= cl_image_tag comment.user.photo.url, :width => 48, :height => 48 %>
              <% else %>
                <%= cl_image_tag 'v1365894993/avatar_blank_q1pbbs.jpg', :width => 48, :height => 48 %>
              <% end %>
            </div>
            <li class="comment">
              <div class="posted_by">
                <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago
                  <% if comment.user == current_user %>
                    <%= link_to '', auction_comment_path(@auction, comment), :class => 'icon-remove', :remote => true, :method => 'delete' %>
                  <% end %>
              </div>
              <p>
                <%= simple_format(comment.content) %>
              </p>
              </li>
            </div>
          <% end %>
        </ul>
          <% if current_user %>
            <%= form_for [@auction, Comment.new], :remote => true do |f| %>
            <%= f.text_area :content, :rows => 5, :class => "desc_box", :placeholder => "Comment on this Auction" %>
            <%= f.submit "Add Comment", :class => "btn btn-large btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  
<!-- RIGHT SIDE CONTENT -->

  <div class="span4">
    <div class="highest-bid">
      <% if @auction.bids == [] %>
        <div class="highest-bid-title ribbon">
          <div class="ribbon-front">
            <div class='no-bids-yet'>No bids yet</div>
          </div>
          <%= render 'ribbon' %>
        </div>
        <div class="bid-time">
          <div id="hours">0</div>
          <div id="hours">Hours</div>
        </div>
        <div class="highest-bidder">
          Be the first to bid <%= "when it starts!" unless @auction.started? %>
        </div>
        
      <% else %>

        <% if @winner %>
          <div class="highest-bid-title ribbon">
            <div class="ribbon-front">
              Winning Bid
            </div>
            <%= render 'ribbon' %>
          </div>
            <%= render 'bids/highest_bid' %>
        <% else %>
          <div class="highest-bid-title ribbon">
            <div class="ribbon-front">
              Highest Bid
            </div>
            <%= render 'ribbon' %>
          </div>
            <%= render 'bids/highest_bid' %>
        <% end %>

      <% end %>
    </div>

    <div class='you-highest <%= 'hide' unless @auction.highest_bid && @auction.highest_bid.user == current_user %>'>
        <h3>You're the Top Bidder!</h3>
    </div>

<!-- BID BUTTON -->

    <div class='main-bid-button'>
      <div id="overlay"></div>

      <% if current_user && (!@auction.started? && !@auction.complete?) || (@auction.started? && @auction.complete?) %>
      <% elsif !current_user %>
        <a href='<%= new_user_path %>'><button class="btn btn-success btn-large">Sign in to bid</button></a>
      <% else %>
        <div id="trigger"><button class="btn btn-danger btn-large bid-button">Bid hours</button></div>
      <% end %>
    </div>

<!-- AUCTION DETAILS -->

    <div class='auction-details'>
      <% if Time.now < @auction.start_date %>
        <div>Auction starts</div>
        <div><h3><%= @auction.start_date.strftime('%b %d, %Y') %></h3></div>
      <% else %>
        <div>Auction started</div>
        <div><h3><%= @auction.start_date.strftime('%b %d, %Y') %></h3></div>
      <% end %>
      
      <% if Time.now < @auction.end_date %>
        <div>Auction ends</div>
        <div><h3><%= @auction.end_date.strftime('%b %d, %Y') %></h3></div>
      <% else %>
        <div>Auction ended</div>
        <div><%= @auction.end_date.strftime('%b %d, %Y') %></div>
        <div><h3><%= link_to "Check out others", categories_path %></h3></div>
      <% end %>

      <% if Time.now < @auction.deadline %>
        <div>Volunteer deadline</div>
        <div><h3><%= @auction.deadline.strftime('%b %d, %Y') %></h3></div>
      <% else %>
        <div>Volunteer status</div>
        <div><%= "#{@auction.verified_time.to_s} of #{@winning_time} hours completed!" unless @auction.verified_time.nil? %> <%= "Thank you " if @winner %><%= link_to @winner.name,  user_path(@winner) if @winner %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="hide all-charities"><%= @charities %></div>

<!-- 
winner user not_start => no case
winner no_user no_start => no case

winner user start => no button
no_winner user no_start => no button

winner no_user start => sign up button
no_winner no_user start => sign up button
no_winner no_user no_start => sign up button

no_winner user start => bid button
 -->
