<div class="footer">
  <div class="footerContainer">
    <div class="footerContent">
      <p><strong>&copy; 2013 by these Dev Bootcamp students:</strong></p>
      <hr id="footer">
      <li><%= link_to 'David Wen', 'https://github.com/Dawenster' %></li>
      <li><%= link_to 'Kevin Ko', 'https://github.com/heyimkko' %></li>
      <li><%= link_to 'Philip Woo', 'https://github.com/jhw1202' %></li>
      <li><%= link_to 'J Connolly', 'https://github.com/jsconnolly' %></li>
    </div>
    <div class="footerContent">
      <p><strong>Additional Resources:</strong></p>
      <hr id="footer">
      <li><%= link_to 'Official Rules', rules_path %></li>
      <li><%= link_to 'Source', 'https://www.github.com/Dawenster/time_auction' %></li>
      <li><%= link_to 'About Us', about_path %></li>
      <li><%= link_to 'Dev Bootcamp', 'http://www.devbootcamp.com' %></li>
      
    </div>
    <div class="footerContent">
      <p><strong>Connect With Us:</strong></p>
      <hr id="footer">
      <li><%= mail_to 'team@timeauction.org', 'Contact Team' %></li>
      <a href="https://twitter.com/share" class="twitter-share-button" id="twitter_footer" data-url="http://TimeAuction.org" data-text="Check out Time Auction to bid volunteer hours for awesome stuff.">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="http://www.TimeAuction.org" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark">
      </div>
    </div>
  </div>
</div>
