<nav>
  <ul class="nav">
    <%= link_to "TimeAuction", root_path, id: 'logo' %>
    <li>
      <%= link_to "About", '#', :id => "navName" %>
    </li>
    <% if current_user && current_user.admin %>
      <li>
        <%= link_to "Add Auction", new_auction_path, :id => "navName" %>
      </li>
      <li>
        <%= link_to "Browse Auctions", categories_path, :id => "navName" %>
      </li>
      <li>
        <span id="navWelcome">
          Welcome, <%= link_to current_user.name.split(" ").first, user_path(current_user), :id => "navName" %><span id="adminNote">*</span>
        </span>
      </li>
      <li>
        <%= link_to "Logout", session_path(session[:id]), :method => :delete %>
      </li>
    <% elsif current_user %>
      <li>
        <%= link_to "Browse Auctions", categories_path, :id => "navName" %>
      </li>
      <li>
        <span id="navWelcome">
          Welcome, <%= link_to current_user.name.split(" ").first, user_path(current_user), :id => "navName" %><span id="adminNote">*</span>
        </span>
      </li>
      <li>
        <span id="navName"><%= link_to "Wut the Fuk", session_path(current_user), :method => :delete, :id => "navName" %></span>
      </li>
    <% else %>
      <li><%= link_to "Login", new_session_path, :id => "navName" %></li>
      <li><%= link_to "Sign up", new_user_path, :id => "navName" %></li>
    <% end %>
  </ul>
</nav>

<div class="backNav">
</div>
