<nav>
  <ul class="nav">
    <%= link_to "TimeAuction", root_path, id: 'logo' %>
    <li>
      <%= link_to "About", '#', :class => "f2" %>
    </li>
    <% if current_user && current_user.admin %>
      <li>
        <%= link_to "Add Auction", new_auction_path %>
      </li>
      <li>
        Welcome, <%= link_to current_user.name.split(" ").first, user_path(current_user) %> (*)
      </li>
      <li>
        <%= link_to "Logout", session_path(session[:id]), :method => :delete %>
      </li>
    <% elsif current_user %>
      <li>
        <%= link_to "Browse Auctions", categories_path %>
      </li>
      <li>
        Welcome, <%= link_to current_user.name.split(" ").first, user_path(current_user) %>
      </li>
      <li>
        <%= link_to "Logout", session_path(session[:id]), :method => :delete %>
      </li>
    <% else %>
      <li><%= link_to "Login", new_session_path %></li>
      <li><%= link_to "Sign up", new_user_path %></li>
    <% end %>
  </ul>
</nav>
