<nav>
  <ul class="nav">
    <%= link_to "TimeAuction", root_path, id: 'logo' %>
    <li>
      <%= link_to "About", '#', :id => "navName" %>
    </li>
    <% if current_user && current_user.admin %>
      <li>
        <%= link_to "Add Auction", new_auction_path, :id => "navName" %>
      </li>
      <li>
        <%= link_to "Browse Auctions", categories_path, :id => "navName" %>
      </li>
      <li>
        <% if current_user.photo %>
          <%= link_to (cl_image_tag current_user.photo.url, :width => 25, :height => 25, :gravity => :face, :crop => :thumb) + current_user.name.split(" ").first, user_path(current_user), :id => "navName" %><span id="adminNote">*</span>
        <% else %>
          <%= link_to (cl_image_tag 'v1365894993/avatar_blank_q1pbbs.jpg', :width => 25, :height => 25, :gravity => :face, :crop => :thumb) + current_user.name.split(" ").first, user_path(current_user), :id => "navName" %><span id="adminNote">*</span>
        <% end %>
      </li>
      <li>
        <%= link_to "Logout", session_path(session[:id]), :method => :delete, :id => "navName" %>
      </li>
    <% elsif current_user %>
      <li>
        <%= link_to "Browse Auctions", categories_path, :id => "navName" %>
      </li>
      <li>
        <% if current_user.photo %>
          <%= link_to (cl_image_tag current_user.photo.url, :width => 25, :height => 25, :gravity => :face, :crop => :thumb) + current_user.name.split(" ").first, user_path(current_user), :id => "navName" %>
        <% else %>
          <%= link_to (cl_image_tag 'v1365894993/avatar_blank_q1pbbs.jpg', :width => 25, :height => 25, :gravity => :face, :crop => :thumb) + current_user.name.split(" ").first, user_path(current_user), :id => "navName" %>
        <% end %>
      </li>
      <li>
        <%= link_to "Logout", session_path(current_user), :method => :delete, :id => "navName" %>
      </li>
    <% else %>
      <li><%= link_to "Login", new_session_path, :id => "navName" %></li>
      <li><%= link_to "Sign up", new_user_path, :id => "navName" %></li>
    <% end %>
  </ul>
</nav>

<div class="backNav">
</div>
