<h1>Sign up!</h1>
<%= @messages %>
<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Full name" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.text_field :phone, placeholder: "Phone number (optional)" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit %>
<% end %>
