<div id="userProfileName">
  <h1>Profile for <%= @user.name %></h1>
</div>  
<div class="row">  
  <div class="span2">
    <div class="photo-upload">
      <%= profile_pic(@user, 200, 200) %>

      <% if current_user == @user %>
      <div class="upload">
        <%= form_tag [@user, Photo.new], :method => 'post', :multipart => true do %>
          <label for="file" class="btn btn-info">Edit photo</label>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= file_field_tag "file", :class => 'hide' %>
          <%= submit_tag "Upload", :class => "btn btn-success upload-button" %>
        <% end %>
      </div>
      <% end %>

      <% if current_user == @user && !@user.identities.any? %>
        <%= link_to image_tag('/assets/facebook-connect-200.png'), fb_login_path %>
      <% end %>
      <% if @user.identities.any? %>
        <%= link_to image_tag('/assets/facebook-icon.png'), "http://www.facebook.com/#{@user.fb_identity.username}" %>
      <% end %>

    </div>
  
    <div class="userStatisticsBox">
      <div id="hoursCount">
        <%= number_with_delimiter(@user.time_donated) %>
        <div id="hours">Hours</div>
        <div id="hours">Logged</div>
      </div>
    </div>

  </div>
  <!-- CONTENT -->
  <div class="span10">
  <!-- TABS -->    
    <div id="userProfileTabs">
      <ul class="nav nav-tabs" id="profile">
        <li class="active">
          <a href="#user-recent-bids" data-toggle="tab">Bid History</a></li>
        <li>
          <a href="#user-auctions-won" data-toggle="tab" id="auctionsWonTab">Auctions Won</a>
        </li>
        <% if current_user == @user %>
          <li>
            <a href="#user-volunteer-info" data-toggle="tab" id="volunteerInfoTab">Your Volunteer Info</a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="profile-container">
<!-- RECENT BIDS -->

      <div class="tab-content">
        <div class="tab-pane active" id="user-recent-bids"> 
          <% if @entered_auctions.any? %>
            <% @entered_auctions.each do |auction| %>
              <div class="recentBidPhoto">
                <%= link_to (cl_image_tag auction.photos.last.url, width: 150, height: 150, :crop => :fill), auction %>
              </div>
              <div class="recentBids">
                <h3><%= link_to auction.title.truncate(55), auction %></h3>
                <% auction.bids.where(:user_id => @user.id).limit(3).each do |bid| %>
                  <li>Bid <strong><%= bid.description %></strong>, <%= time_ago_in_words(bid.created_at) %> ago</li>
                <% end %>
             </div> 
            <% end %>  
          <% else %>
            <%= @user.name %> hasn't participated in any auctions yet!
          <% end %>
        </div>

<!-- AUCTIONS WON -->

        <div class="tab-pane" id="user-auctions-won">
          <div id="auction">
            <% if @winning_auctions.any? %> <!-- RE-SET TO WINNING AUCTION FOR PROD -->
              <% @winning_auctions.each do |auction| %>
                <div class="auction-column">
                  <%= link_to (cl_image_tag auction.photos.last.url, width: 300, height: 200, :class => "browse-photo", :crop => :fill), auction %>
                  <p class="auction-title">
                    <%= link_to auction.title.truncate(68), auction %>
                  </p>
                  <p class="current-high">
                    Your Bid: <strong><%= auction.highest_bid.description.titleize %></strong>
                  </p>
                </div>
              <% end %>
            <% else %>
              <%= @user.name %> hasn't won any auctions yet!
            <% end %>
          </div>
        </div>

<!-- VOLUNTEER INFO -->
        
        <% if current_user == @user %>
          <div class="tab-pane" id="user-volunteer-info">
            <% if @winning_auctions.any? %> <!-- RE-SET TO WINNING AUCTION FOR PROD, ENTERED_AUCTIONS FOR DEV -->
            <p>Congrats on winning! Here are the final details of the auctions you've won and the charities you've pledged to. If you never declared a charity, we'll be in contact with you shortly.</p>

              <% @user_charities.each do |charity| %>
                <% if charity.blank? %>
                  <h3>Pending Charity</h3>
                <% else %>
                  <h3>Charity: <%= link_to charity.name, charity %></h3>
                <% end %>

                <% @winning_auctions.each do |auction| %>
                  <% if auction.highest_bid.charity == charity %>
                    <h4><%= link_to auction.title.truncate(60), auction %></h4>
                    <ul>
                      <li><strong>Deadline:</strong> <%= convert_date(auction.deadline) %></li>
                      <li><strong>Hours Committed:</strong> <%= auction.highest_bid.description %></li>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              Your volunteer information will appear here when you've won an auction.
            <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>



