<div id="user-profile-name">
  <h1>Profile for <%= @user.name %></h1>
</div>
<div class="row">      
  <div class="span3">
    <div class="photo-upload">
      <%= @user.profile_pic %>
    <% if @user.photo %>
      
    <% else %>
      
    <% end %>
    <% if current_user == @user %>
       <%= form_tag [@user, Photo.new], :method => 'post', :multipart => true do %>
        <label for="file">Change Photo</label>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= file_field_tag "file" %>
        <%= submit_tag "Upload", :class => "btn btn-success" %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="span10">
    <div class="userStatisticsBox">

      <div id="hoursCount">
        <%= number_with_delimiter(@hours_verified) %>
        <div id="hours">Hours</div>
      </div>
    </div>
    <div class="todo-header">
      <h3>Remaining Hours</h3></div>
    <div class="hours-left">
      <ul>
        <% @remaining_tasks.each do |bid| %>
        <li><%= bid.auction.title %>: <%= bid.time - bid.auction.verified_time %> hours left</li>
        <% end %>
      </ul>
    </div>
     <!--  <ul>
        <%# @winning_auctions.each do |auction| %>
          <li><%#= link_to auction.title, auction %></li>
          <li>Deadline: <%#= auction.deadline %></li>
          <li>Hours Bid: <%#= auction.deadline %></li>
        <%# end %>
      </ul> -->
  </div>
</div>

<% if current_user == @user %>
  <div id="activities">
    Recent Bids
  </div>
  <div>
    <ul>
      <% if @bids %>
        <% @bids.each do |bid| %>
          <li>You bid <%= bid.time %> hours on <%= link_to bid.auction.title, auction_path(bid.auction) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
