<div id="userProfileName">
  <h1>Profile for <%= @user.name %></h1>
</div>  
<div class="row">  
  <div class="span2">
    <div class="photo-upload">
      <%= profile_pic(@user, 200, 200) %>

      <% if current_user == @user %>
      <div class="upload">
        <%= form_tag [@user, Photo.new], :method => 'post', :multipart => true do %>
          <label for="file" class="btn btn-info">Edit photo</label>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= file_field_tag "file", :class => 'hide' %>
          <%= submit_tag "Upload", :class => "btn btn-success upload-button" %>
        <% end %>
      </div>
      <% end %>

      <% if current_user == @user && !@user.identities.any? %>
        <%= link_to image_tag('/assets/facebook-connect-200.png'), fb_login_path %>
      <% end %>
      <% if @user.identities.any? %>
        <%= link_to image_tag('/assets/facebook-icon.png'), "http://www.facebook.com/#{@user.fb_identity.username}" %>
      <% end %>

    </div>
  
    <div class="userStatisticsBox">
      <div id="hoursCount">
        <%= number_with_delimiter(@user.time_donated) %>
        <div id="hours">Hours</div>
        <div id="hours">Logged</div>
      </div>
    </div>

  </div>
  <div class="span10">
    <!-- TABS -->    
    <div id="userProfileTabs">
      <ul class="nav nav-tabs" id="profile">
        <li class="active">
          <a href="#user-recent-bids" data-toggle="tab">Recent Bids</a></li>
        <li>
          <a href="#user-auctions-won" data-toggle="tab" id="auctionsWonTab">Auctions Won</a>
        </li>
        <li>
          <a href="#user-volunteer-info" data-toggle="tab" id="volunteerInfoTab">Your Volunteer Info</a>
        </li>
      </ul>
    </div>

    <div class="profile-container">


<!-- DESCRIPTION -->

    <div class="tab-content">
      <div class="tab-pane active" id="user-recent-bids profile"> 
        <% if @entered_auctions.any? %>
        <ul>

          <div class="recentBidPhoto">
            <% @entered_auctions.each do |auction| %>
              <%= link_to (cl_image_tag auction.photos.first.url, width: 150, height: 150, :class => "browse-photo", :crop => :fill), auction %>
            <% end %>
          </div>


        </div>
          <% @bids.each do |bid| %>
            <li><%= bid.description %> on <%= link_to bid.auction.title, auction_path(bid.auction) %></li>
          <% end %>
        </ul>

        <% else %>
          <%= @user.name %> hasn't participated in any auctions yet!
        <% end %>
      </div>

<!-- BID HISTORY -->

      <div class="tab-pane" id="user-auctions-won">

       
      </div>

<!-- COMMENTS -->
      <div class="tab-pane" id="user-volunteer-info">

       
      </div>
      </div>
    </div>

    </div>
  </div>



