<div id="userProfileName">
  <h1>Profile for <%= @user.name %></h1>
  <% if current_user == @user && !@user.identities.any? %>
    <div id="fbconnect">
      <%= link_to "", fb_login_path %>
    </div>
  <% end %>
  <% if @user.identities.any? %>
    <%= link_to image_tag('/assets/facebook-icon.png'), "http://www.facebook.com/#{@user.fb_identity.username}" %>
  <% end %>
</div>

<!-- TABS -->
<div id="userProfileTabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#user-recent-bids" data-toggle="tab">Recent Bids</a></li>
    <li>
      <a href="#user-auctions-won" data-toggle="tab" id="auctionsWonTab">Auctions Won</a>
    </li>
    <li>
      <a href="#user-volunteer-info" data-toggle="tab" id="volunteerInfoTab">Your Volunteer Info</a>
    </li>
  </ul>
</div>
<div class="row">      
  <div class="span2">
    <div class="photo-upload">
      
      <%= profile_pic(@user, 200, 200) %>

      <% if current_user == @user %>
      <div class="upload">
        <%= form_tag [@user, Photo.new], :method => 'post', :multipart => true do %>
          <label for="file">Change Photo</label>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= file_field_tag "file" %>
        </div>
          <%= submit_tag "Upload", :class => "btn btn-success" %>

        <% end %>
      <% end %>
    </div>
  
    <div class="userStatisticsBox">
      <div id="hoursCount">
        <%= number_with_delimiter(@user.time_donated) %>
        <div id="hours">Hours</div>
        <div id="hours">Logged</div>
      </div>
    </div>

  </div>
  <div class="span10">
    <div class="profile-container">


<!-- DESCRIPTION -->

    <div class="tab-content">
      <div class="tab-pane active" id="auction-description"> 
        <h3>Auction Description</h3>

      </div>

<!-- BID HISTORY -->

      <div class="tab-pane" id="auction-bid-history">
        <h3>Bid History</h3>
       
      </div>

<!-- COMMENTS -->
      <div class="tab-pane" id="auction-comments">
        <h3>Auction Comments</h3>
       
      </div>
      </div>
    </div>

    </div>
  </div>
</div>


