<div class="auction-title"><h1>Add a charity</h1></div>
<%= form_for @charity do |f| %>
  <%= f.label :name, 'Charity name', :autofocus => true %>
  <%= f.text_field :name %>
  <%= f.label :description, 'Describe the work that the charity does' %>
  <%= f.text_area :description %>
  <%= f.fields_for :photos, :html => { multipart: true } do |builder| %>
    <label for="file">Upload some photos related to this charity</label>
    <%= builder.file_field :url %>
  <% end %>
  <%= f.submit "Create Charity", :class => "btn btn-primary btn-large" %>
<% end %>