<div class="row">
  <div class="span4">
    <% if @charity.photos.any? %>
      <%= cl_image_tag @charity.photos.last.url, :width => 300, :height => 200 unless @charity.photos == [] %>
    <% else %>
      <div class="no-charity-photo">
        No logo yet for this charity<BR>
        Help upload one: <%= link_to "Edit", edit_charity_path(@charity) %>
      </div>
    <% end %>
    <h3>Volunteers</h3>
    <% if @volunteers.any? %>
      <% @volunteers.each do |volunteer| %>
        <div><%= avatar(volunteer) %></div>
      <% end %>
    <% else %>
      No volunteers yet - be the first!<BR>
      Check out some <%= link_to "auctions", categories_path %> you can bid on.
    <% end %>
  </div>
  <div class="span8">
    <div>
      <h1><%= @charity.name %></h1>
    </div>
    <div>
      <p><%= @charity.description %></p>
      <div><%= link_to 'Edit', edit_charity_path(@charity), :class => "edit-charity", :title => "Help us edit information on this charity" %></div>
    </div>
  </div>
</div>