<div class="row">
  <div class="span8">
    <div>
      <h1><%= @charity.name %></h1>
    </div>
    <div>
      <p><%= @charity.description %></p>
      <div><%= link_to 'Edit', edit_charity_path(@charity), :class => "edit-charity", :title => "Help us edit information on this charity" %></div>
    </div>
  </div>
  <div class="span4 shadow">
    <%= cl_image_tag @charity.photos.last.url, :width => 600, :height => 450 unless @charity.photos == [] %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>People who have bid to volunteer for this charity</h3>
    <% @volunteers.each do |volunteer| %>
      <%= volunteer.name %>
    <% end %>
  </div>
</div>
