<div class="category-display">
  <ul class="nav nav-tabs category">
    <li class="active"><a href="#people" data-toggle="tab">People</a></li>
    <li><a href="#products" data-toggle="tab">Products</a></li>
    <li><a href="#experiences" data-toggle="tab">Experiences</a></li>
  </ul>

  <% active_count = 0  %>

  <% @auctions_categories.each do |category, auctions| %>
    <% if active_count == 0 %>
      <div class="tab-pane browse-auctions active" id="<%= category.downcase %>">
    <% else %>
      <div class="tab-pane browse-auctions" id="<%= category.downcase %>">
    <% end %>
    <% auctions.each do |auction|%>
      <div class="auction-column"><%= cl_image_tag auction.photos.last.url, width: 300, height: 145, :class=> "browse-photo" ,:crop => :fill %><p class="auction-title"><%= link_to auction.title, auction_path(auction) %></p><p class="current-high">Highest Bid: <%= auction.bids.empty? ? "Be the first to Bid!" : auction.bids.order("time DESC").first.time.to_s + "Hours" %></div>
    <% end %>
    <% active_count += 1  %>
    </div>
  <% end %> 
</div>
