<div class="category-display">
  <ul class="nav nav-tabs category">
    <li class="<%= "active" if params[:tab] == @categories[0].name || params[:tab].nil? %>"><a href="#people" data-toggle="tab">People</a></li>
    <li class="<%= "active" if params[:tab] == @categories[1].name %>"><a href="#products" data-toggle="tab">Products</a></li>
    <li class="<%= "active" if params[:tab] == @categories[2].name %>"><a href="#experiences" data-toggle="tab">Experiences</a></li>
  </ul>

  <% active_count = 0 if params[:tab].nil?  %>

  <% @auctions_categories.each do |category, auctions| %>
      <div class="tab-pane browse-auctions <%= "active" if params[:tab] == category || active_count == 0 %>" id="<%= category.downcase %>">
        <% auctions.each do |auction|%>
          <div class="auction-column">
            <%= link_to (cl_image_tag auction.photos.last.url, width: 300, height: 200, :class => "browse-photo", :crop => :fill), auction %>
            <p class="auction-title">
              <%= link_to auction.title.truncate(68), auction %>
            </p>
            <p class="current-high">
              <strong>Highest Bid:</strong> <%= auction.bids.empty? ? "Be the first to Bid!" : auction.bids.order("time DESC").first.time.to_s + " Hours" %>
            </p>
          </div>
        <% end %>
      <% active_count += 1 if params[:tab].nil? %>
    </div>
  <% end %> 
</div>
