<div class="category-display" id="auction">
  <ul class="nav nav-tabs category">
    <% params[:tab] ||= 'People' %>
    <% @categories.each do |cat| %>
      <li class="<%= "active" if params[:tab] == cat %>"><a href="#<%= cat.downcase %>" data-toggle="tab"><%= cat %></a></li>
    <% end %>
  </ul>

  <% active_count = 0 if params[:tab].nil?  %>

  <% @auctions_categories.each do |category, auctions| %>
      <div class="tab-pane browse-auctions <%= "active" if params[:tab] == category || active_count == 0 %>" id="<%= category.downcase %>">
        <% auctions.each do |auction|%>
          <div class="auction-column">
            <%= link_to (cl_image_tag auction.photos.last.url, width: 300, height: 200, :class => "browse-photo", :crop => :fill), auction %>
            <p class="auction-title">
              <%= link_to auction.title.truncate(68), auction %>
            </p>
            <p class="current-high">
              Highest Bid: <strong><%= auction.bids.empty? ? "Be the first to Bid!" : auction.bids.order("time DESC").first.time.to_s + " Hours" %></strong>
            </p>
          </div>
        <% end %>
      <% active_count += 1 if params[:tab].nil? %>
    </div>
  <% end %> 
</div>
