<!DOCTYPE html>
<html>
<head>
  <title>TimeAuction</title>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|PT Sans Narrow|Open+Sans:400,300|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/nav' %>

<div class="container">
  <div id="flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  </div>


  <%= yield %>

  
</div>
<%= render 'partials/footer' %>
</body>
</html>
